/*Text Field*/
.custom-form input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px rgb(67,67,69) solid;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
    height: 50px;
    font-size: 18px;
    line-height: 18px;
    margin-left: auto;
    margin-right: auto;
}
.custom-form input::-webkit-input-placeholder {
    color: rgb(67,67,69);
    font-size: 20px;
    padding-bottom: 60px;
    line-height: 22px;
}

.custom-form input:-moz-placeholder { /* Firefox 18- */
    color: rgb(67,67,69);
    font-size: 20px;
    padding-bottom: 60px;
    line-height: 22px;
}

.custom-form input::-moz-placeholder {  /* Firefox 19+ */
    color: rgb(67,67,69);
    font-size: 20px;
    padding-bottom: 60px;
    line-height: 22px;
}

.custom-form input:-ms-input-placeholder {
    color: rgb(67,67,69);
    font-size: 20px;
    padding-bottom: 60px;
    line-height: 22px;
}
.custom-form input .has-error{
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
}
.custom-form .has-error input::-webkit-input-placeholder {
    color: #a94442 !important;
}

.custom-form .has-error input:-moz-placeholder { /* Firefox 18- */
    color: #a94442 !important;
}

.custom-form .has-error input::-moz-placeholder {  /* Firefox 19+ */
    color: #a94442 !important;
}

.custom-form .has-error input:-ms-input-placeholder {
    color: #a94442 !important;
}
.custom-form input:focus, .custom-form input:active{
    outline: none;
}
/*Text Area*/
.custom-form textarea{
    border: none;
    background-color: rgba(67,67,68,0.1);
    border-radius: 0;
    min-height: 80px;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
    resize: none;
    margin-left: auto;
    margin-right: auto;
}
.custom-form textarea::-webkit-input-placeholder {
    color: rgb(67,67,69);
    font-size: 20px;
    padding-bottom: 60px;
    line-height: 22px;
}

.custom-form textarea:-moz-placeholder { /* Firefox 18- */
    color: rgb(67,67,69);
    font-size: 20px;
    padding-bottom: 60px;
    line-height: 22px;
}

.custom-form textarea::-moz-placeholder {  /* Firefox 19+ */
    color: rgb(67,67,69);
    font-size: 20px;
    padding-bottom: 60px;
    line-height: 22px;
}

.custom-form textarea:-ms-input-placeholder {
    color: rgb(67,67,69);
    font-size: 20px;
    padding-bottom: 60px;
    line-height: 22px;
}
.custom-form .has-error textarea{
    border: 2px #a94442 solid !important;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
}
.custom-form .has-error textarea::-webkit-input-placeholder {
    color: #a94442 !important;
}

.custom-form .has-error textarea:-moz-placeholder { /* Firefox 18- */
    color: #a94442 !important;
}

.custom-form .has-error textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #a94442 !important;
}

.custom-form .has-error textarea:-ms-input-placeholder {
    color: #a94442 !important;
}
/*Select*/
.custom-form select{
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px rgb(67,67,69) solid;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 50px;
    font-size: 20px;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
    background: url(../../resources/style/select-arrow.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 20px;
}
.custom-form .has-error select{
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
    color: #a94442 !important;
    background: url(../../resources/style/select-arrow-error.png) !important;
    background-position: right !important;
    background-repeat: no-repeat !important;
    background-size: auto 20px !important;
}
/*Input Button*/
.custom-form .input-group .input-group-btn button{
    height: 50px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(67,67,69);
    border-radius: 0;
}
/*Error Message*/
.custom-form .help-block{
    padding-left: 15px;
}